language: node_js
node_js:
  - "stable"
dist: focal
cache:
  directories:
    - node_modules

install:
  - npm ci

script:
  - npm run build

branches:
  only:
    - main

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: main
